:root {
  --template-accent1: #4F81BD;
  --template-accent2: #C0504D;
  --template-accent3: #9BBB59;
  --template-accent4: #8064A2;
  --template-accent5: #4BACC6;
  --template-accent6: #F79646;
  --template-bg1: #FFFFFF;
  --template-bg2: #EEECE1;
  --template-color-1: #194297;
  --template-color-2: #385AA4;
  --template-color-3: #003399;
  --template-color-4: #262626;
  --template-folHlink: #800080;
  --template-font-1: "微软雅黑";
  --template-font-2: "Microsoft YaHei";
  --template-font-3: "SimHei";
  --template-font-major: "Calibri";
  --template-font-minor: "Calibri";
  --template-hlink: #0000FF;
  --template-tx1: #000000;
  --template-tx2: #1F497D;
}
