:root {
  --template-accent1: #90C226;
  --template-accent2: #54A021;
  --template-accent3: #E6B91E;
  --template-accent4: #E76618;
  --template-accent5: #C42F1A;
  --template-accent6: #918655;
  --template-bg1: #000000;
  --template-bg2: #2C3C43;
  --template-color-1: #BCDA7D;
  --template-color-2: #262626;
  --template-color-3: #3F7819;
  --template-folHlink: #B9D181;
  --template-font-1: "Arial Rounded MT Bold";
  --template-font-major: "Trebuchet MS";
  --template-font-minor: "Trebuchet MS";
  --template-hlink: #99CA3C;
  --template-tx1: #FFFFFF;
  --template-tx2: #EBEBEB;
}
